{% extends 'master/base.html' %}


       {% block title_block %}
        Department

        {% endblock title_block %}

    {% block content %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Head</th>
      <th scope="col">Office</th>
    </tr>
  </thead>
  <tbody>
    {% for dep in department_data %}
    <tr>
      <td>{{dep.name}}</td>
      <td>{{dep.head}}</td>
      <td>{{dep.office_number}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    {% endblock content %}