<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Welcome to About_page</h1>
    <h1>Hello! I am {{name}} </h1>
    <h1>I'm {{age}} years old </h1>
    <h1>My Adress is {{adress}} </h1>
    <a href="{% url 'home' %}"></a>
    <button type="button"><a href="{% url 'home' %}">Home</a></button>
    <button type="button"><a href="{% url 'about' %}">About</a></button>
</body>
</html>