{% extends 'master/base.html' %}

{% block title_block %}
  Teacher-List
{% endblock %}

{% block content %}

<a class="btn btn-primary" href="{% url 'add-teacher' %}" role="button">ADD TEACHER</a>
  <div class="table-responsive">
    <table class="table table-primary">
      <thead>
        <tr>
          <th scope="col">SL</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
        </tr>
      </thead>
      <tbody>
        {% for teacher in teacher_data %}
          <tr>
            <td scope="row">{{ forloop.counter }}</td>
            <td>{{ teacher.name }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.age }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
